@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-nacional-linear text-gray-900 antialiased;
}

.scroll-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  @apply rounded-full bg-nacional-600/30;
}

@media print {
  .no-print { display: none !important; }
  body { background: white !important; }
  aside, header { display: none !important; }
  main { padding: 0 !important; }
}
