@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f9fafb;
}

.input-focus-custom:focus {
  border-color: #AC8869 !important;
  box-shadow: 0 0 0 2px #D4B89699 !important;
}

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
