@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat Light';
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Andrea Bellarosa';
  src: url('/fonts/Andrea Bellarosa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #f9fafb;
}

.input-focus-custom:focus {
  border-color: #AC8869 !important;
  box-shadow: 0 0 0 2px #D4B89699 !important;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

